<h1>Stores</h1><hr>

<% if @stores.any? %>
  <h2>Stores:</h2>

  <ul>
    <% @stores.each do |store| %>
      <li><h4><a href = "/store/<%= store.id %>"><%= store.store %></a></h4></li>
    <% end %>
  </ul>
  <h4>Click store name to edit store or view associated brands.</h4>
<%else %>
  <h4>There are currently no stores in the database.</h4>
<% end %>

<a class="btn btn-primary" href="/stores/new">Add Store</a>
