<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link  rel="stylesheet" href="/css/styles.css">
    <title>Shoe Distribution</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1><strong><a href="/">Shoe Distribution</strong></a></h1>
      <h4>Track shoe stores and brand names</h4>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
