<h2><%= @store.store %></h2><hr>

<h3>Update Project</h3>
<form action ="/store/<%= @store.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="store">Change Name</label>
    <input class="form-control" type="text" name="store">
  </div>
  <button class="btn btn-primary" type ="submit">Edit</button>
</form><br>

<form action="/store/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-primary" type="submit">Delete Store</button>
</form><br>

<a class="btn btn-primary" href="/">Home</a>
